<div class="container">
  <h2>Login</h2>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <input
      id="user"
      type="text"
      name="username"
      placeholder="Username"
      required
      ngModel
      #usernameInput="ngModel"
    />
    <input
      id="pass"
      type="password"
      name="password"
      placeholder="Password"
      required
      ngModel
      #passwordInput="ngModel"
    />
    <div>
      <button type="submit" href="http://localhost:4200/profile-view">
        Log In
      </button>
    </div>
  </form>
</div>
