<div class="row">
  <div class="title">
    <h3>Add New Transaction</h3>
    <hr />
  </div>
  <form
    class="create-profile"
    (ngSubmit)="onAddTransaction(postForm)"
    #postForm="ngForm"
  >
    <div class="row">
      <label class="col-md-3" for="agencyName">Transaction No. :</label>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="transNo"
          required
          id="transNo"
          ngModel
        />
      </div>
    </div>
    <div class="row">
      <label class="col-md-3" for="agencyName">Date :</label>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="date"
          required
          id="date"
          ngModel
        />
      </div>
    </div>

    <div class="row">
      <label class="col-md-3" for="agencyName">Amount :</label>
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          name="amount"
          required
          id="amount"
          ngModel
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success" type="submit">Add Transaction</button>
      </div>
    </div>
  </form>
</div>
